@font-face {
    font-family: 'raleway-light';
    src: url('raleway/Raleway-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('raleway/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'raleway-bold';
    src: url('raleway/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'raleway-extrabold';
    src: url('raleway/Raleway-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'raleway-semibold';
    src: url('raleway/Raleway-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-size: 0.9vw;
    font-family: "Raleway";
    margin: 0;  
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:visited { 
    color: black;
}
header {
    display: grid;
    align-items: center;
    grid-template-columns: 6.8vw auto 20.7vw 6.8vw;
    grid-template-areas: "logo . nav sign";
    height: 7.2vw;
    padding: 0 2.5%;
}
.logo_header {
    height: 3vw;
    cursor: pointer;
    grid-area: logo;
}
.nav_header {
    display: flex;
    justify-content: space-around;
    grid-area: nav;
    height: 7.1vw;
}
.nav_header_lien {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    border-top: 2px solid transparent;
}
.nav_header_lien:hover {
    transition: border 0.5s ease-out;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.sign_header {
    font-family: "raleway-bold";
    color: #0065FC ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2vw;
    grid-area: sign;
}
h1 {
    font-family: "raleway-extrabold";
    font-size: 1.5vw;
}

h2 {
    margin-left: 15px;
    font-family: "raleway-extrabold";
    font-size: 1.2vw;
}
.hébergement h2 {
    margin-left: 20px;
    font-family: "raleway-extrabold";
    font-size: 1.5vw;
}
h3 {
    font-family: 'raleway-extrabold';
    font-size: 1.1vw;
    margin-top: 0px;
    margin-bottom: 0px;
}
h4 {
    margin-left: 15px;
    font-size: 1.2vw;
    font-family: "raleway-extrabold";
}
h1+p {
    font-family: "raleway-semibold";
    font-size: 1.1vw;
}
h3+p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.fa-star {
    width: 0.8vw;
}
.fa-map-marker-alt {
    font-size: 1.2vw;
}
#input_filtre_résultat_rechercher {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.input_rechercher {
    display: flex;
    margin-bottom: 20px;
}
.rechercher_gauche {
    border-radius: 1.1vw 0 0 1.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    width: 3.3vw;
    height: 3.3vw;
}
.rechercher_centre {
    padding: 0px 20px;
    width: 12.7vw;
    height: 3.1vw;
    border-right: none;
    border-left: none;
    border-top: 1px solid #edebeb;
    border-bottom: 1px solid #edebeb;
    font-size: 1.1vw;
}
    .rechercher_droite {
        display: flex;
        position: relative;

    }
.rechercher_droite_bouton {
    background-color: #0065FC;
    border: none;
    border-radius: 0 1.1vw 1.1vw 0;
    height: 3.3vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
    font-family: 'raleway-semibold';
    font-size: 1vw;
    width: 7.5vw;
    z-index: 2;
    position: absolute;
}
.rechercher_droite_loupe {
    z-index: 1;
}
#rechercher {
    padding: 0 2.5%;
    margin-bottom: 15px;
}
.filtre_rechercher h3 {
    font-family: 'raleway-extrabold';
    font-size: 1.1vw;
    margin-top: 17px;
    margin-bottom: 0px;
}
.filtre_rechercher {
    display: flex;
    flex-wrap: wrap;
    height: 6vw;
}
.filtre {
    display: flex;
    align-items: center;
    height: 3.5vw;
    border-radius: 1.8vw;
    cursor: pointer;
    border: 1px solid #c7c6c6;
    margin-left: 2%;
}
.bulle {
    height: 3.7vw;
    width: 3.7vw;
    border-radius: 100%;
    background-color: #deebff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC;
    font-size: 1.1vw;
}
.filtre:hover {
background-color: #0065FC;
color: white;
}
.filtre a {
    font-family: "raleway-extrabold";
    font-size: 1vw;
    padding: 0 20px;
}
.résultat_rechercher {
    display: flex;
    align-items: center;
}
.résultat_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c7c6c6;
    border-radius: 1.9vw;
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
}
.fa-info {
    font-size: 0.7vw;
    color: #0065FC;
}
.fa-chart-line{
    font-size: 2.2vw;
    margin-top: 10px;
}
.résultat_texte {
    margin-left: 5px;
    font-size: 1vw;
}
#hébergement_aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}
.hébergement {
    width: 60%;
    border-radius: 1.1vw;
    background-color: #f2f2f2;
    padding: 20px 20px 0px 20px;
    margin-bottom: 15px;
}
#carte_hébergement {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.carte {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 1.1vw;
    background-color: white;
    overflow: hidden;
    width: 16.7vw;
    height: 13.8vw;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    margin-bottom: 30px;
}
.contour_image {
    height: 58%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.texte_image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 42%;
    margin-left: 10px;
}
.image {
    object-fit: cover;
    width: 100%; 
    height: 100%;
}
aside {
    border-radius: 1.1vw;
    background-color: #f2f2f2;
    padding: 20px 35px 0px 35px;
    margin-bottom: 15px;
}
#texte_carte_populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#carte_aside {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 24.7vw;
}
.carte_populaire {
    display: flex;
    border-radius: 1.1vw;
    background-color: white;
    border: 5px solid white;
    overflow: hidden;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    height: 10vw;
    margin-bottom: 30px;
    width: 100%;
}
#texte_carte_populaire h2 {
    font-family: "raleway-extrabold";
    font-size: 1.5vw;
    margin-left: 0;
}
.contour_image_populaire {
    width: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.image_populaire {
    object-fit: cover;
    height: 100%;
    width: 9.2vw;
}
.texte_populaire {
    width: 50%;
    height: 95%;
    margin-left: 15px;
    margin-top: 10px;
}
.fa-star {
    color: #0065FC;
}
.star-empty {
    color: #f2f2f2;
}
.texte_populaire p {
    margin-bottom: 40px;
    margin-top: 10px;
}
.texte_populaire+span {
    position: absolute;
    margin-left: 10.7vw;
    margin-top: 8.5vw;  
}
#activité {
    margin-bottom: 15px;
    padding: 0 5px;
}

#activité h3 {
    margin-left: 15px;
    font-family: 'raleway-extrabold';
    font-size: 1.1vw;
    margin-bottom: 1.1vw;
}
.global_carte_activité {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.carte_activité {
    height: 32.6vw;
    width: 22.1vw;
    border-radius: 1.1vw;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  
.carte_activité2 {
    width: 22.1vw;
    height: 17.2vw;
    border-radius: 1.1vw;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.carte_activité3 {
    width: 22.1vw;
    height: 14.7vw;
    border-radius: 1.1vw;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  
.carte_activité4 {
    width: 22.1vw;
    height: 12.6vw;
    border-radius: 1.1vw;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carte_activité5 {
    width: 22.1vw;
    height: 15vw;
    border-radius: 1.1vw;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}    
.contour_image_carte_activité {
    height: 29.2vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
.contour_image_carte_activité2 {
    height: 13.8vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
.contour_image_carte_activité3 {
    height: 11.3vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
.contour_image_carte_activité4 {
    height: 9.2vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
.contour_image_carte_activité5 {
    height: 11.6vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
.image_carte_activité {
    object-fit: cover;
    width: 100%; 
    height: 100%;
} 
.conteneur_carte_activité {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer {
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
}
#footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 20px;
}
.nav_footer {
    width: 33%;
}
.nav_footer nav {
    display: flex;
    flex-direction: column;
}
footer h2 {
    font-family: "raleway-extrabold";
    font-size: 1.3vw;
    margin-bottom: 15px;
    margin-left: 0px;
}
footer a {
    margin-bottom: 10px;
    font-size: 1vw;
}

@media screen and (min-width: 481px) and (max-width: 1185px)
{}

@media screen and (max-width: 480px)
{
    header 
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15vw 15vw;
        grid-template-areas: "logo sign" "nav nav";
        height: 40vw;
        padding: 4vw 0;
    }
    .logo_header {
        height: 15vw;
        padding-left: 4vw;
    }
    .nav_header {
        height: 15vw;
    }
    .nav_header_lien {
        display: flex;
        justify-content: center;
        font-size: 5vw;
        width: 60vw;
    }
    .nav_header_lien:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    .sign_header {
        font-size: 5vw;
        padding-right: 5vw;
    }
    h1 {
        font-size: 7vw;
    }
    h1+p {
        font-size: 5vw;
    }
    .input_rechercher {
        justify-content: center;
        margin-bottom: 7vw;
        margin-top: 2vw;
    }
    .rechercher_gauche {
        width: 14vw;
        height: 14vw;
    }
    .rechercher_centre {
        width: 65%;
        height: 14vw;
        font-size: 6vw;
    }
    .rechercher_droite {
        margin-left: -4vw;

    }
    .rechercher_droite_bouton {
        border-radius: 4vw;
        height: 14vw;
        width: 9vw;
        z-index: 1;
    }
    .rechercher_droite_loupe {
        z-index: 2;
        height: 14vw;
        font-size: 18px;
        color: white;
        background-color: #0065FC;
        border-radius: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2vw;
        cursor: pointer;
        width: 9vw;
    }
    .filtre_rechercher h3 {
        font-size: 5vw;
        margin-right: 48vw;
    }
    .filtre {
        margin-left: 0;
        margin-right: 4vw;
        margin-bottom: 4vw;
    }
    .filtre a {
        font-size: 5vw;
    }
    .fa-info {
        font-size: 2.5vw;
        color: #0065FC;
    }
    .fa-chart-line{
        font-size: 7vw;
        margin-top: 2vw;
    }
    .résultat_texte {
        margin-left: 1vw;
        font-size: 3.5vw;
    }
    aside {
        border-radius: 0;
        padding: 4vw 4vw 0 4vw;
    }
    .carte_populaire {
        width: 100%;
    }
    #carte_aside {
        width:100%
    }
    main {
        margin-top: -13vw;
    }
}